
{% extends 'base.html' %}

{% block content %}


    {% if user.is_authenticated %}
      &nbsp;
    <table class="table table-striped table-hover table-bordered">
     <thead class="table-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">State</th>
        <th scope="col">Created At</th>
        <th scope="col">ID</th>
      </tr>  
    </thead>
    <tbody>
    
        {% if records %}
        {% for record in records %}
        <tr>
            <td>{{ record.first_name }} {{ record.last_name }}</td>
            <td>  {{ record.email }}</td>
            <td> {{ record.phone }}</td>
            <td> {{ record.address }}</td>
            <td> {{ record.city }}</td>
            <td> {{ record.state }}</td>
            <td> {{ record.created_at }}</td>
            <td><a href="{% url 'record' record.id %}"><button type="button" class="btn btn-outline-secondary"><b>view {{ record.id }}</b></button></a> </td>

        </tr>
        {% endfor %}
    {% endif %}

    
    </tbody>
    </table>
     

{% else %}
<h1>Login</h1>
<br/>
<form method="POST" action="{% url 'home' %}">
    {% csrf_token %}
      <div class="mb-3">
        <label for="TextInput" class="form-label">User Name</label>
        <input type="text" id="TextInput" name="username" class="form-control" placeholder="Enter User Name" required>
      </div>
      <br/>
      <div class="mb-3">
        <label for="pwd" class="form-label">Password</label>
        <input type="password" id="pwd"  name="password"  class="form-control" placeholder="Enter your Password" required>
      </div>
      
      <button type="submit" class="btn btn-secondary">Login</button>
  </form>
</div>
{% endif %}
{% endblock %}