<nav class="navbar navbar-expand-lg " style="background-color: #7c7676;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}"><b><h4>Django CRM</h4></b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-4 mb-lg-1">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'add_record' %}"><b><h4>Add Record</h4></b></a>
          </li>
          &nbsp;
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout'%}"><b><h4>Logout</h4></b></a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register'%}"><b><h4>Register</h4></b></a>
          </li>
          &nbsp;
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home'%}"><b><h4>Login</h4></b></a>
          </li>
          {% endif %}
         
        </ul>
       
      </div>
    </div>
  </nav>